body{
    background-color: azure;
}
.img-thumbnail{
    width: 40px;
    height: 40px;
    padding: 5px;
}
.img-stretch{
    width: 450px;
    height: 450px;
    padding: 5px;
}
.nav-link{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    
}



